body {
    font-family: Arial, sans-serif;
    background-color: darkslategray;
}

.container {
    width: 250px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

/* Ichki container */
.result-box {
    margin-top: 5px;
    min-height: 10px;
    padding: 10px;
    border: 1px solid #1d1b1b;
    border-radius: 5px;
    background-color: #fafafa;
}

#result {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}